{% extends "base.html" %}

{% block title %}
    <title>Employee List</title>
{% endblock %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
    {% endif %}

    <h2>Employee List</h2>
    <a href="create/employee" class="btn btn-primary">Create</a>
    <a href="employee_query" class="btn btn-primary">Query</a>
    <br>
    <br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Manager</th>
                <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for person in all_employee %}
            <tr>
                <th scope="row">{{ person.id }}</th>
                <td>{{ person.name }}</td>
                <td>{{ person.address }}</td>
                <td>{{ person.manager | yesno:"Yes,No" }}</td>
                <td>{{ person.status.em_status }}</td> <!-- Display specific status -->
                <td>
                    {% if person.image %}
                        <img src="{{ person.image.url }}" width="100px" height="100px">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <a href="update/employee/{{ person.id }}" class="btn btn-warning">Update</a>
                </td>
                <td>
                    <a href="delete/employee/{{ person.id }}"
                    class="btn btn-danger"
                    onclick="return confirm('คุณต้องการลบ {{ person.name }} หรือไม่ ?')">
                    Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Position List</h2>
    <a href="create/position" class="btn btn-primary">Create</a>
    <br>
    <br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for position in all_position %}
            <tr>
                <th scope="row">{{position.id}}</th>
                <td>{{position.name}}</td>
                <td>{{position.salary}}</td>
                <td><a href="update/position/{{position.id}}" class="btn btn-warning">update</a></td>
                <td>
                    <a href="delete/position/{{position.id}}" class="btn btn-danger" onclick="return confirm('คุณต้องการลบ {{position.name}} หรือไม่ ?')">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Department List</h2>
    <a href="create/department" class="btn btn-primary">Create</a>
    <br>
    <br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Manager</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for department in all_department %}
            <tr>
                <th scope="row">{{department.id}}</th>
                <td>{{department.name}}</td>
                <td>{{department.manager}}</td>
                <td><a href="update/department/{{department.id}}" class="btn btn-warning">update</a></td>
                <td>
                    <a href="delete/department/{{department.id}}" class="btn btn-danger" onclick="return confirm('คุณต้องการลบ {{department.name}} หรือไม่ ?')">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Status List</h2>
    <a href="create/status" class="btn btn-primary">Create</a>
      <br>
      <br>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">update</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
          {% for status in all_status %}
          <tr>
              <th scope="row">{{status.id}}</th>
              <td>{{status.em_status}}</td>
              <td><a href="update/status/{{status.id}}" class="btn btn-warning">update</a></td>
              <td>
                  <a href="delete/status/{{status.id}}" class="btn btn-danger" onclick="return confirm('คุณต้องการลบ {{status.em_status}} หรือไม่ ?')">delete</a>
              </td>
          </tr>
          {% endfor %}
  </tbody>
  </table>

{% endblock %}