{% extends "base.html" %}

{% block title %}
    <title>Status Update Form</title>
{% endblock %}

{% block content %}
    <h2 class="text-center">Status Update Form</h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label for="em_status">Employee Status</label>
            <!-- Pre-populate the input with the current status value -->
            <input type="text" name="em_status" class="form-control" value="{{ status.em_status }}">
        </div>
        <input type="submit" value="บันทึกข้อมูล" class="btn btn-success">
    </form>
{% endblock %}
