{% extends "base.html" %}

{% block title %}
    <title>EmployeeQuery</title>
{% endblock %}

{% block content %}
    <h1 style="color:blue;">Employee Query</h1>
    
    <form method="get">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Manager</th>
                <th>Status</th>
                <th>Position</th>
                <th>Department</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.manager|yesno:"Yes,No" }}</td>
                <td>{{ employee.status.em_status }}</td>
                <td>{{ employee.position.name }}</td>
                <td>{{ employee.department.name }}</td>
                <td>
                    {% if employee.image %}
                        <img src="{{ employee.image.url }}" width="50px" height="50px">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}